body{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
body::after{
    background-image: url('https://images.unsplash.com/photo-1505693416388-ac5ce068fe85?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    filter: blur(7px);
}
.container{
    z-index: 10;
    width: 800px;
    max-width: 800px;
    height: 450px;
    background: black;
    color: white;
    display: flex;
}
.content{
    width: 50%;
    height: 100%;
    background: rgb(43, 42, 42);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content h1{
    margin: 40px 0;
    font-family: sans-serif;
    font-weight: 800;
}
.content .text{
    margin-bottom: 20px;
}
.text div{
    width: 160px;
    height: 1.5px;
    background: rgb(76, 77, 75);
    margin-bottom: 9px;
}
.text h2{
    font-family: sans-serif;
}
.text p{
    color:rgb(240, 26, 97);
    font-family: sans-serif;
    font-size: 15px;
}
button{
    background: rgb(240, 26, 97);
    padding: 15px 35px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16.2px;
    margin: 10px 0;
    border-radius: 5px;
    transition: .3s ease;
}
button:hover{
    background: rgb(179, 17, 71);
}
.image{
    width: 50%;
    height: 100%;
    background-image: url('https://images.unsplash.com/photo-1505693416388-ac5ce068fe85?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
@media (max-width: 600px){
    .content{
        width: 100%;
    }
    .image{
        display: none;
    }
}